body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(51, 83, 83);
  color: white;
}

a:link {
  color: rgb(255, 0, 0);
}

a:visited {
  color: rgb(5, 255, 5);
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
